@charset "utf-8";
#mocha {
  font: 20px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 60px 50px;
  ul, li {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  h1, h2 {
    margin: 0;
  }
  h1 {
    margin-top: 15px;
    font-size: 1em;
    font-weight: 200;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .suite .suite h1 {
    margin-top: 0;
    font-size: .8em;
  }
  .hidden {
    display: none;
  }
  h2 {
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
  }
  .suite {
    margin-left: 15px;
  }
  .test {
    margin-left: 15px;
    overflow: hidden;
    &.pending:hover h2::after {
      content: '(pending)';
      font-family: arial, sans-serif;
    }
    &.pass {
      &.medium .duration {
        background: #c09853;
      }
      &.slow .duration {
        background: #b94a48;
      }
      &::before {
        content: '✓';
        font-size: 12px;
        display: block;
        float: left;
        margin-right: 5px;
        color: #00d6b2;
      }
      .duration {
        font-size: 9px;
        margin-left: 5px;
        padding: 2px 5px;
        color: #fff;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
      }
      &.fast .duration {
        display: none;
      }
    }
    &.pending {
      color: #0b97c4;
      &::before {
        content: '◦';
        color: #0b97c4;
      }
    }
    &.fail {
      color: #c00;
      pre {
        color: black;
      }
      &::before {
        content: '✖';
        font-size: 12px;
        display: block;
        float: left;
        margin-right: 5px;
        color: #c00;
      }
    }
    pre.error {
      color: #c00;
      max-height: 300px;
      overflow: auto;
    }
    .html-error {
      overflow: auto;
      color: black;
      line-height: 1.5;
      display: block;
      float: left;
      clear: left;
      font: 12px/1.5 monaco, monospace;
      margin: 5px;
      padding: 15px;
      border: 1px solid #eee;
      max-width: 85%;
      /*(1)*/
      max-width: -webkit-calc(100% - 42px);
      max-width: -moz-calc(100% - 42px);
      max-width: calc(100% - 42px);
      /*(2)*/
      max-height: 300px;
      word-wrap: break-word;
      border-bottom-color: #ddd;
      -webkit-box-shadow: 0 1px 3px #eee;
      -moz-box-shadow: 0 1px 3px #eee;
      box-shadow: 0 1px 3px #eee;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      pre.error {
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        box-shadow: 0;
        padding: 0;
        margin: 0;
        margin-top: 18px;
        max-height: none;
      }
    }
    pre {
      display: block;
      float: left;
      clear: left;
      font: 12px/1.5 monaco, monospace;
      margin: 5px;
      padding: 15px;
      border: 1px solid #eee;
      max-width: 85%;
      /*(1)*/
      max-width: -webkit-calc(100% - 42px);
      max-width: -moz-calc(100% - 42px);
      max-width: calc(100% - 42px);
      /*(2)*/
      word-wrap: break-word;
      border-bottom-color: #ddd;
      -webkit-box-shadow: 0 1px 3px #eee;
      -moz-box-shadow: 0 1px 3px #eee;
      box-shadow: 0 1px 3px #eee;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    h2 {
      position: relative;
    }
    a.replay {
      position: absolute;
      top: 3px;
      right: 0;
      text-decoration: none;
      vertical-align: middle;
      display: block;
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      background: #eee;
      font-size: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      -webkit-transition: opacity 200ms;
      -moz-transition: opacity 200ms;
      -o-transition: opacity 200ms;
      transition: opacity 200ms;
      opacity: 0.3;
      color: #888;
    }
    &:hover a.replay {
      opacity: 1;
    }
  }
}

#mocha-report {
  &.pass .test.fail, &.fail .test.pass {
    display: none;
  }
  &.pending .test {
    &.pass, &.fail {
      display: none;
    }
    &.pass.pending {
      display: block;
    }
  }
}

#mocha-error {
  color: #c00;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 1px;
}

#mocha-stats {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  font-size: 12px;
  padding: 1em;
  color: #fff;
  z-index: 1;
  .progress {
    float: right;
    padding-top: 0;
    /**
     * Set safe initial values, so mochas .progress does not inherit these
     * properties from Bootstrap .progress (which causes .progress height to
     * equal line height set in Bootstrap).
     */
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: initial;
  }
  .failures {
    em {
      color: #f00;
    }
  }
  .passes {
    em {
      color: #0f0;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      border-bottom: 1px solid #eee;
    }
  }
  li {
    display: inline-block;
    margin: 0 5px;
    list-style: none;
    padding-top: 11px;
  }
  canvas {
    width: 40px;
    height: 40px;
  }
}

#mocha code {
  .comment {
    color: #ddd;
  }
  .init {
    color: #2f6fad;
  }
  .string {
    color: #5890ad;
  }
  .keyword {
    color: #8a6343;
  }
  .number {
    color: #2f6fad;
  }
}

@media screen and (max-device-width: 480px) {
  #mocha {
    margin: 60px 0px;
    #stats {
      position: absolute;
    }
  }
}
